<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>ToolBox</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div>
    <ion-button href="/toolbox/qr-code" expand="block">QR Code</ion-button>
    <ion-button href="/toolbox/barcode" expand="block">Barcode</ion-button>
    <ion-button href="/toolbox/qr-code-scanner" expand="block">QR Code Scanner</ion-button>
    <ion-button href="/toolbox/barcode-scanner" expand="block">Barcode Scanner</ion-button>
    <ion-button href="/toolbox/qr-code-generator" expand="block">QR Code Generator</ion-button>
    <ion-button href="/toolbox/barcode-generator" expand="block">Barcode Generator</ion-button>
  </div>
</ion-content>
